<app-navbar></app-navbar>
<section class="section-login">
  <div class="login">
    <div class="header-login">
      <img src="assets/img/logo.png" alt="" class="header-login-logo" />
      <h2 class="header-title">Inicia sesión con tu cuenta</h2>
    </div>
    <form class="form" [formGroup]="miFormulario" (ngSubmit)="guardar()">
      <input
        type="text"
        class="form-input"
        placeholder="Correo electrónico"
        formControlName="correo"
      />
      <input
        type="password"
        class="form-input"
        placeholder="Contraseña"
        formControlName="password"
      />
      <button class="form-btn" type="submit">Iniciar sesión</button>
    </form>
    <div class="form-footer">
      <p class="form-footer-p">
        o <a routerLink="/auth/recuperacion">¿Has olvidado la contraseña?</a>
      </p>
      <p class="form-footer-p">
        ¿No tienes una cuenta en UniCine?
        <a routerLink="/auth/registro">Crear una cuenta</a>
      </p>
    </div>
  </div>
</section>
