<app-navbar></app-navbar>
<section class="section-recuperacion">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Recupera tu cuenta</h2>
    </div>
    <div class="card-body">
      <p class="card-p">Ingresa tu correo electrónico para buscar tu cuenta.</p>
      <form class="card-form" [formGroup]="miFormulario" (ngSubmit)="guardar()">
        <input
          type="text"
          formControlName="correo"
          class="input-correo"
          placeholder="Correo electrónico"
        />
        <button class="card-btn" type="submit">Confirmar</button>
      </form>
    </div>
  </div>
</section>
