<div class="breadcrumb">
  <div class="container">
    <ul class="breadcrumb-ul">
      <li class="breadcrumb-li" *ngFor="let link of parentLinks">
        <a routerLink="{{ link.url }}" class="breadcrumb-a">
          {{ link.nombre }}</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="breadcrumb-arrow-right"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
          />
        </svg>
      </li>
    </ul>
  </div>
</div>
