<app-navbar></app-navbar>
<app-slider></app-slider>
<button mat-stroked-button (click)="buscarPeliculas()">Buscar peliculas</button>
<section class="section-cartelera">
  <div class="cartelera">
    <h2 class="cartelera-title" *ngIf="local">
      Últimos resultados de búsqueda
    </h2>
    <div class="estrenos" *ngIf="estrenos.length > 0">
      <h2 class="cartelera-title">Estrenos</h2>
      <div>
        <app-pelicula-card [peliculas]="estrenos"></app-pelicula-card>
      </div>
    </div>
    <div class="preventas" *ngIf="preventas.length > 0">
      <h2 class="cartelera-title preventa-t">Preventas</h2>
      <div>
        <app-pelicula-card [peliculas]="preventas"></app-pelicula-card>
      </div>
    </div>
  </div>
</section>
