<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h3 class="crispetas-title">Crispetas</h3>
  <div class="container-crispetas">
    <app-confiteria-opcion-card
      [urlImg]="'assets/img/popcorn_normal.jpg'"
      [titulo]="'Popcorn unicine'"
    ></app-confiteria-opcion-card>
    <app-confiteria-opcion-card
      [urlImg]="'assets/img/popcorn_caramelo.jpg'"
      [titulo]="'Popcorn unicine sabor a caramelo'"
    ></app-confiteria-opcion-card>
  </div>
</div>
