<div class="container-card">
  <div
    class="card"
    *ngFor="let pelicula of peliculas"
    routerLink="./funcion"
    (click)="enviarPelicula(pelicula)"
  >
    <div class="card-header">
      <img
        [src]="pelicula.imagen['imagenUrl']"
        alt=""
        class="card-header-poster"
      />
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ pelicula.nombre }}</h3>
      <p>Reparto: {{ pelicula.reparto }}</p>
    </div>
    <div class="card-footer">
      <p class="card-footer-etiqueta">Genero: {{ pelicula.genero }}</p>
    </div>
  </div>
</div>
