<div class="card-pelicula">
  <img [src]="pelicula.imagen.imagenUrl" alt="" class="card-header-poster" />

  <iframe
    width="560"
    height="315"
    title="YouTube video player"
    frameborder="0"
    [src]="url_trailer_safe"
    class="video-yt"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  >
  </iframe>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Titulo: {{ pelicula.nombre }}</h3>
      <p class="card-genero">Reparto: {{ pelicula.reparto }}</p>
      <p class="card-sinopsis">Sinopsis: {{ pelicula.sinopsis }}</p>
    </div>
    <div class="card-footer">
      <p class="card-footer-etiqueta">Genero: {{ pelicula.genero }}</p>
    </div>
  </div>
  <div class="accordion">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="fill" class="select-ciudades">
          <mat-label>Seleccione la ciudad</mat-label>
          <mat-select [(ngModel)]="ciudadSelec" name="ciudadSelec">
            <mat-option
              *ngFor="let c of ciudades"
              [value]="c"
              (click)="cambiarCiudad(c)"
            >
              {{ c.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="ciudadSelec">
      <mat-card-actions>
        <button
          mat-button
          *ngFor="let dia of diasMostrar"
          (click)="verFuncion(dia)"
          class="btn-dia"
        >
          {{ dia.dia }} {{ dia.fecha }}
        </button>
      </mat-card-actions>
    </mat-card>
    <div *ngIf="!funciones; else con">
      <mat-card>
        <mat-card-content>
          <p>No hay funciones por mostrar</p>
        </mat-card-content>
      </mat-card>
    </div>
    <ng-template #con>
      <mat-card>
        <mat-accordion *ngFor="let f of funcionesDisponibles">
          <mat-expansion-panel
            [expanded]="ver === 1"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title
                >{{ f.sala.teatro.ciudad.nombre }} -
                {{ f.sala.teatro.direccion }}</mat-panel-title
              >
            </mat-expansion-panel-header>
            <button
              mat-stroked-button
              *ngFor="let hora of f.horas"
              (click)="verSillas(hora.codigoFuncion, content)"
            >
              {{ hora.hora }}
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </ng-template>
  </div>
</div>
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <img src="assets/img/logo.png" class="img-canvas" />
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="offcanvas-contenido">
      <div class="horario-canvas">
        <p class="offcanvas-p">
          Teatro: {{ funcionSelect.sala.teatro.direccion }}
        </p>
        <p class="offcanvas-p">Sala: {{ funcionSelect.sala.nombre }}</p>
      </div>
      <div class="horario-canvas">
        <p class="offcanvas-p">Horario seleccionado</p>
        <p class="offcanvas-p hora">{{ funcionSelect.horario.hora }}</p>
        <p class="offcanvas-p-hora">
          Sillas disponibles
          {{ funcionSelect.sala.distribucionSillas.total_sillas }}
        </p>
      </div>
    </div>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-dark btn-comprar"
        routerLink="compra"
        (click)="agregarFuncion(offcanvas)"
      >
        Comprar
      </button>
    </div>
  </div>
</ng-template>
