<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div *ngIf="rol === 'ROLE_ADMIN'">
        <a mat-list-item routerLink="/"
          ><mat-icon mat-list-icon>home</mat-icon><span>Ir al inicio</span></a
        >
        <a mat-list-item routerLink="./listado-peliculas"
          ><mat-icon mat-list-icon>movie</mat-icon><span>Peliculas</span></a
        >
        <a mat-list-item routerLink="./cupones"
          ><mat-icon mat-list-icon>redeem</mat-icon><span>Cupones</span></a
        >
        <a mat-list-item routerLink="./teatro"
          ><mat-icon mat-list-icon>theaters</mat-icon
          ><span>Admin teatro</span></a
        >
        <a mat-list-item routerLink="./confiteria"
          ><mat-icon mat-list-icon>local_pizza</mat-icon
          ><span>Confiteria</span></a
        >
        <a mat-list-item routerLink="./combos"
          ><mat-icon mat-list-icon>fastfood</mat-icon><span>Combos</span></a
        >

        <a mat-list-item routerLink="./buscar" (click)="logout()"
          ><mat-icon mat-list-icon>exit_to_app</mat-icon><span>Logout</span></a
        >
      </div>
      <div *ngIf="rol === 'ROLE_ADMIN_TEATRO'">
        <a mat-list-item routerLink="/"
          ><mat-icon mat-list-icon>home</mat-icon><span>Ir al inicio</span></a
        >
        <a mat-list-item routerLink="./teatros"
          ><mat-icon mat-list-icon>theaters</mat-icon><span>Teatros</span></a
        >
        <a mat-list-item routerLink="./salas"
          ><mat-icon mat-list-icon>video_label</mat-icon><span>Salas</span></a
        >
        <a mat-list-item routerLink="./distribuciones"
          ><mat-icon mat-list-icon>event_seat</mat-icon
          ><span>Distribuciones de sillas</span></a
        >
        <a mat-list-item routerLink="./horarios"
          ><mat-icon mat-list-icon>event</mat-icon><span>Horarios</span></a
        >
        <a mat-list-item routerLink="./funciones"
          ><mat-icon mat-list-icon>movie_creation</mat-icon
          ><span>Funciones</span></a
        >
        <a mat-list-item routerLink="./buscar" (click)="logout()"
          ><mat-icon mat-list-icon>exit_to_app</mat-icon><span>Logout</span></a
        >
      </div>
      <div *ngIf="rol === 'ROLE_CLIENTE' || !rol">
        <a mat-list-item routerLink="/"
          ><mat-icon mat-list-icon>home</mat-icon><span>Ir al inicio</span></a
        >
        <a mat-list-item routerLink="./buscar" (click)="logout()"
          ><mat-icon mat-list-icon>exit_to_app</mat-icon><span>Logout</span></a
        >
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <span>{{ username }}</span>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
