<app-navbar></app-navbar>
<main>
  <section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Entretenimiento en cualquier parte del pais.
        </h1>
        <p class="hero-description">
          Ir al UniCine es una inversion que te hará feliz. Encuentra esas
          increibles peliculas que ruegan por ser vistas, aquí, en nuestra
          cartelera.
        </p>
        <a routerLink="auth/registro" class="btn btn--full margin-right-sm"
          >Registrarse</a
        >
        <a routerLink="cartelera" class="btn btn--outline"
          >Ver cartelera &rarr;</a
        >
      </div>
      <div class="hero-img-box">
        <img src="assets/img/hero.jpg" class="hero-img" alt="Cinema" />
      </div>
    </div>
  </section>
</main>
