<div class="container">
  <h1 mat-dialog-title>
    {{ data.codigo ? "Editar" : "Agregar nuevo" }} teatro
  </h1>
  <div mat-dialog-content class="container">
    <p>Direccion</p>
    <mat-form-field appearance="fill">
      <mat-label>Ingrese la direccion</mat-label>
      <input matInput [(ngModel)]="data.direccion" required />
      <mat-error *ngIf="!data.direccion"
        >Debe ingresar la descripcion</mat-error
      >
    </mat-form-field>
    <p>Telefono</p>
    <mat-form-field appearance="fill">
      <mat-label>Ingrese el telefono</mat-label>
      <input matInput [(ngModel)]="data.telefono" required />
      <mat-error *ngIf="!data.telefono">Debe ingresar el telefono</mat-error>
    </mat-form-field>
    <p class="input-title">Administrador teatro</p>
    <div *ngIf="data.administradorTeatro?.primerNombre">
      <p class="input-form-step">
        Admin teatro seleccionado:
        {{ data.administradorTeatro?.primerNombre }}
      </p>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Ingrese el administrador de teatro</mat-label>
      <mat-select
        [(ngModel)]="data.administradorTeatro"
        name="administradorTeatro"
        required
      >
        <mat-option *ngFor="let admin of administradoresTeatro" [value]="admin">
          {{ admin.codigo }} {{ admin.primerNombre }} {{ admin.primerApellido }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!data.administradorTeatro"
        >Debe ingresar el administrador de teatro</mat-error
      >
    </mat-form-field>
    <p class="input-title">Ciudad</p>
    <div *ngIf="data.ciudad.nombre">
      <p class="input-form-step">
        Ciudad seleccionada:
        {{ data.ciudad.nombre }}
      </p>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Ingrese la ciudad</mat-label>
      <mat-select [(ngModel)]="data.ciudad" name="ciudad" required>
        <mat-option *ngFor="let c of ciudades" [value]="c">
          {{ c.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!data.ciudad">Debe ingresar la ciudad</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button
      mat-button
      [mat-dialog-close]="data"
      cdkFocusInitial
      [disabled]="
        !data.direccion ||
        !data.telefono ||
        !data.administradorTeatro ||
        !data.ciudad
      "
    >
      Confirmar
    </button>
  </div>
</div>
