/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size settings */
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #2a2c41;
}
